.cart {
  flex: 1;
  padding: 0;
}

.cart__empty {
  font-size: 24px;
  padding-top: 48px;
  text-align: center;
}

.cart__title {
  font-size: 32px;
  margin: 32px 0;
  text-align: center;
}

.cart__actions {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.cart__actions > button {
  max-width: 400px;
}

.cart__link-to-shop {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
