.product-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.product-list__product {
  color: #fff;
  margin: 32px;
  text-decoration: none;
  transition: color 0.2s linear;
}

.product-list__product:hover {
  color: #ccc;
}

@media (hover: none) {
  .product-list__product:hover {
    color: inherit;
  }
}

.product__image {
  width: 100%;
}

.product__title {
  font-size: 24px;
  margin-bottom: 8px;
}

.product__price {
  font-size: 24px;
}

/* Tablet and up */
@media screen and (min-width: 768px) {
  .product-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-list__product {
    width: calc(50% - 64px);
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .product-list__product {
    width: calc(33% - 64px);
  }
}
