* {
  box-sizing: border-box;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background > * {
  padding: 20px;
}

.header {
  align-items: center;
  background-color: rgba(35, 26, 11, 0.5);
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: sticky;
  top: 0;
  width: 100%;
}

.main {
  color: #fff;
  flex: 1;
  padding: 80px 30px 170px;
  text-align: center;
}

.footer {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer p {
  font-size: 22px;
  margin-top: 10px;
}

.footer a {
  color: #fff;
}

/* Tablet and up */
@media screen and (min-width: 768px) {
  .main {
    margin: 0 50px;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .main {
    max-width: 1000px;
    margin: 0 auto;
  }
}
