.background {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(assets/images/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background > * {
  padding: 20px;
}

.header {
  background-color: rgba(35, 26, 11, 0.5);
  margin-top: 30px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.footer {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.footer p {
  font-size: 22px;
  margin-top: 10px;
}

.footer a {
  color: #fff;
}

/* Tablet and up */
@media screen and (min-width: 768px) {
  .main {
    margin: 0 50px;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    width: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer {
    max-width: 1200px;
  }
}
